<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Familiar</title>
</head>
<body>
    <h1>Datos de familiares</h1>
    <h2>Familiar 1:</h2>
    <b>Nombre:</b> {{nombre01}} <br>
    <b>Salario:</b> {{salario01}} <br>
    <b>Fecha de Nacimiento:</b> {{fecha01}}
    <h2>Familiar 2:</h2>
    <b>Nombre:</b> {{nombre02}} <br>
    <b>Salario:</b> {{salario02}} <br>
    <b>Fecha de Nacimiento:</b> {{fecha02}}
    <h2>Familiar 3:</h2>
    <b>Nombre:</b> {{nombre03}} <br>
    <b>Salario:</b> {{salario03}} <br>
    <b>Fecha de Nacimiento:</b> {{fecha03}}
    <h2>Familiar 4:</h2>
    <b>Nombre:</b> {{nombre04}} <br>
    <b>Salario</b>: {{salario04}} <br>
    <b>Fecha de Nacimiento:</b> {{fecha04}}
    
</body>
</html>